[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
scrapy = "*"
flake8 = "*"
autopep8 = "*"
nose = "*"
boto3 = "*"

[requires]
python_version = "3.8"

[scripts]
lint = "flake8 ."
fix = "autopep8 -ivr ."
test = "nosetests tests"
crawl = "scrapy crawl schedule_list"
