[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
scrapy = "*"
flake8 = "*"
autopep8 = "*"
nose = "*"
boto3 = "*"
psycopg2 = "*"
alembic = "*"
Flask = "*"
celery = "*"

[requires]
python_version = "3.8"

[scripts]
lint = "flake8 ."
fix = "autopep8 -ivr ."
crawl = "scrapy crawl horse_racing"
check = "scrapy check horse_racing -L DEBUG"
test = "nosetests -v"
migrate = "alembic upgrade head"
flask = "flask run --host=0.0.0.0"
